# Visual Studio 임시 폴더 및 사용자 설정 무시
.vs/
*.user
*.suo
*.db
*.log

# 빌드 결과물 폴더 무시
Debug/
Release/
x64/
x86/

# C++ 빌드 결과물 및 무거운 파일 확장자 무시
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.exp

# 공부 메모 무시
DXCG/memo/

# 캐릭터 모델 fbx 파일 무시
DXCG/Models